{% macro publish(page, limit=3) %}
<div class="box card">
  <header class="is-hidden-tablet">
    <h3 class="title is-4">
      {% if page.extra.url %}
      <a href="{{ page.extra.url }}">{{ page.extra.title }}</a>
      {% else %}
      {{ page.extra.title }}
      {% endif %}
    </h3>
  </header>

  {% if page.extra.image %}
  <div class="card-image is-hidden-tablet">
    <figure class="image is-1by1" style="overflow: hidden;">
      {% if page.extra.image is starting_with("http") %}
      <img src="{{ page.extra.image }}" style="width: auto; margin: auto;">
      {% else %}
      <img src="{{ get_url(path=page.extra.image) }}" style="width: auto; margin: auto;">
      {% endif %}
    </figure>
  </div>
  {% endif %}

  <div class="card-content is-hidden-tablet">
    <p>{{ page.extra.publisher }}</p>
    <p>{{ page.extra.author }}</p>
  </div>

  <article class="media">
    {% if page.extra.image %}
    <figure class="media-left is-hidden-mobile image is-128x128" style="overflow: hidden;">
      {% if page.extra.image is starting_with("http") %}
      <img src="{{ page.extra.image }}" style="width: auto; margin: auto;">
      {% else %}
      <img src="{{ get_url(path=page.extra.image) }}" style="width: auto; margin: auto;">
      {% endif %}
    </figure>
    {% endif %}
    <div class="media-content">
      <div class="content is-hidden-mobile">
        <h3 class="title is-4">
          {% if page.extra.url %}
          <a href="{{ page.extra.url }}">{{ page.extra.title }}</a>
          {% else %}
          {{ page.extra.title }}
          {% endif %}
        </h3>
        <p>{{ page.extra.publisher }}</p>
        <p>{{ page.extra.author }}</p>
      </div>
    </div>
  </article>
  <nav class="level">
    <!-- Left side -->
    <div class="level-left">
      {% for name in ["publisher", "publish_year", "authors", "direction"] %}
      {% if name in page.taxonomies %}
      {% set tags = page.taxonomies[name] %}
      {% set colors = ["is-success", "is-warning", "is-danger", "is-info"] %}
      {% set color = colors[loop.index0] %}
      {% for tag in tags %}
      {% if loop.index <= limit %}

      {% set url = get_taxonomy_url(kind=name, name=tag, lang=page.lang) %}
      <div class="level-item">
        <a href="{{ url }}">
          <span class="tag {{ color }}">
            {{ tag }}
          </span>
        </a>
      </div>
      
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}
    </div>

    <!-- Right side -->
    <div class="level-right">
      {% if page.extra.pdf %}
      <div class="level-item">
        <a class="button" role="button" data-target="copyTarget" aria-haspopup="true" href="{{ page.extra.pdf }}">
          PDF
        </a>
      </div>
      {% endif %}
      <div class="level-item">
        <a class="button" role="button" data-target="copyTarget" aria-haspopup="true"
          onclick="show_bib('{{ get_url(path=page.extra.bibtex)}}')">
          Bibtex
        </a>
      </div>
    </div>
  </nav>
</div>


{% endmacro %}

{% macro simple(pages) %}

<ul>
  {% for page in pages %}
  {% if page.extra.pdf  %}
  <li><a href="{{ page.extra.pdf }}">{{ page.title }}</a></li>
  {% else %}
  <li>{{ page.title }}</li>
  {% endif %}
  {% endfor %}
</ul>

{% endmacro %}