{% macro subsection(path) %}
{% set section = get_section(path=path) %}

{% if section.pages %}
<section class="section">
  {% if section.content %}
  <div class="content">
    {{ section.content | safe }}
  </div>
  {% else %}
  <p class="title">
    {{ section.title }}
  </p>
  {% endif %}

  {% for page in section.pages | reverse %}
  <div class="box">
    <article class="media">
      {% if page.extra.image %}
      <figure class="media-left is-flex is-justify-content-center is-hidden-mobile image is-128x128" style="padding: auto;">
        {% if page.extra.image is starting_with("http") %}
        <img src="{{ page.extra.image }}" style="width: auto; margin: auto;">
        {% else %}
        <img src="{{ get_url(path=page.extra.image) }}" style="width: auto; margin: auto;">
        {% endif %}
      </figure>
      {% endif %}
      <div class="media-content">
        <div class="content">
          <h3 class="subtitle">
            {% if page.content %}
            <a href="{{ page.permalink }}">{{ page.title }}</a>
            {% else %}
            {{ page.title }}
            {% endif %}
          </h3>
          {{ page.description | safe }}
        </div>
        <nav class="level">
          <div class="level-left">
            {% for name, tags in page.taxonomies %}
            {% for tag in tags %}
            <div class="level-item">
              <a href="{{ get_taxonomy_url(kind=name, name=tag, lang=page.lang) }}">
                <span class="tag is-primary">
                  {{ tag }}
                </span>
              </a>
            </div>
            {% endfor %}
            {% endfor %}
          </div>
          <div class="level-right">
            {% if section.extra.date %}
            <div class="level-item">
              {% if page.extra.start_date %}
              <time datetime="{{ page.extra.start_date }}"><span>&#128640;</span> {{ page.extra.start_date }}</time>
              {% else %}
              <time datetime="{{ page.date }}">{{ page.date }}</time>
              {% endif %}
            </div>

            {% if page.extra.end_date %}
            <div class="level-item">
              <time datetime="{{ page.extra.end_date }}"><span>&#127881;</span> {{ page.extra.end_date }}</time>
            </div>
            {% endif %}
            {% endif %}

            {% if page.extra.url %}
            <div class="level-item is-hidden-tablet">
              <a class="button" href="{{ page.extra.url }}">获取地址</a>
            </div>
            {% endif %}
          </div>
        </nav>
      </div>
      <div class="media-right is-hidden-mobile">
        {% if page.extra.url %}
        <div class="level-item">
          <a class="button" href="{{ page.extra.url }}">获取地址</a>
        </div>
        {% endif %}
      </div>
    </article>
  </div>
  {% endfor %}
</section>
{% endif %}

{% endmacro %}