{% extends "section.html" %}
{% import 'partials/subsection.html' as subsection -%}

{% block content %}

<div class="container">
  {% if section.extra.image %}
  <div class="is-flex is-justify-content-center">
    <figure class="image" style="width: {{ section.extra.width }};">
      <img src="{{ get_url(path=section.extra.image) }}">
    </figure>
  </div>
  {% endif %}

  <section class="section">
    {% if section.content %}
    <div class="content">
      {{ section.content | safe }}
    </div>
    {% else %}
    <p class="title">
      {{ section.title }}
    </p>
    {% endif %}
  </section>

  {% for subsection in section.subsections %}
    {{ subsection::subsection(path=subsection) }}
  {% endfor %}

</div>
{% endblock content %}