{# Default page.html template #}
{% import 'partials/publications.html' as publications -%}
{% extends "base.html" %}

{% block content %}

<div class="container">
  <section class="section">
    <div class="content">
      {{ page.content | safe }}
      {% if page.extra.direction %}
      {% set categories = get_taxonomy(kind="direction") %}
      {% set items = categories.items %}
      {% for item in items %}
      {% if item.name == page.extra.direction %}
      <h1>论文列表</h1>
      {% for page in item.pages %}
      {{ publications::publish(page=page) }}
      {% endfor %}
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </section>
</div>

{% endblock content %}