{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="is-flex is-flex-direction-column is-justify-content-center">
    <section class="hero">
      <div class="hero-body">
        <p class="title">
          {% block name %}
          {{ taxonomy.name }}
          {% endblock name %}
        </p>
      </div>
      {% if terms %}
      {% for term in terms %}
      <div class="card mb-5">
        <header class="card-header">
          <p class="card-header-title">
            <a href="{{ term.permalink | safe }}">{{ term.name }}</a> ({{ term.pages | length }})
          </p>
        </header>
      </div>
      {% endfor %}
      {% endif %}
    </section>
  </div>
</div>
{% endblock content %}